.container {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection {
  max-width: 1590px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.heroContent {
  text-align: center;
  color: white;
  word-break: break-word;
  z-index: 1;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
}

.heroTitle {
  font-size: 70px;
  font-family: 'Inder', sans-serif;
  font-weight: bold;
  line-height: 1;
  margin-top: 25px;
}

.gradientLine {
  height: 74px;
  background: linear-gradient(90deg, #FF0000, #FF5C00, #FFC700, #2ECF06, #0041E7);
  background-size: 500% 500%;
  animation: gradientAnimation 15s linear infinite;
  margin-bottom: 40px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.text {
  font-size: 20px;
  font-family: 'Inder', sans-serif;
  font-weight: bold;
  line-height: 1;
  margin-top: 25px;
}

@media (max-width: 768px) {

  .main {
    margin: 25px;
  }

  .heroTitle {
    font-size: 30px;
  }
}